<div class="column">
  <nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start navbar-item">
      <strong><%= @room.name %></strong>
    </div>
    <div class="navbar-end navbar-item">
      <%= link_to "チャットを終了する", room_path(@room), class:'button is-danger is-light is-focused m-2', method: :delete %>
    </div>
  </nav>

  <div class="messages mt-3">
  <%= render partial: 'message', collection: @messages %>
  </div>

 
  <%= form_with model: [@room, @message], local: true do |f| %>
    <%= f.text_field :content, class: 'input is-primary is-rounded mt-3', type:"text", placeholder: 'type a message' %>
        <label class="file-label is-inline field file is-primary">
          <span class="file-cta  mt-3 mr-3 ml-3">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              画像
            </span>
          </span>
          <%= f.file_field :image, class: 'is-hidden'%>
        </label>
    <%= f.submit '送信', class:" button is-info is-rounded is-inline mt-3 "%>
  <% end %>
</div>



