<div class="column">
  <nav class="navbar is-success" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start navbar-item is-size-3">
      <strong><%= @room.name %></strong>
    </div>
    <div class=" navbar-item">
      <strong><%= "#{@room.year.name} #{@room.month.name}頃" %></strong>
    </div>
    <div class=" navbar-item">
      <strong><%= @room.prefecture.name %></strong>
    </div>
    <div class="navbar-item">
      <strong><%= "定員#{@room.capacity.name}" %></strong>
    </div>
    
    <div class="navbar-end navbar-item">
      <%= link_to "トップページへ", rooms_path(current_user), class: 'button is-success is-light ml-2'%>
      <%= link_to "ルーム削除", room_path(@room), class:'button is-danger is-light is-focused m-2', method: :delete %>
    </div>
  </nav>

  <div class="messages mt-2">
    <%= render partial: 'message', collection: @messages %>
  </div>

  <%= form_with model: [@room, @message], local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="is-flex mt-3">
      <%= f.text_field :content, class: 'input is-primary is-rounded pr-6', type:"text", placeholder: 'type a message' %>
      <%= f.submit '送信', class:" button is-info is-rounded is-inline ml-1"%>
      <%= f.file_field :image, class: 'has-text-danger mt-1 ml-1'%>
    </div>
  <% end %>
</div>



