<div class="column">
  <nav class="navbar is-success" role="navigation" aria-label="dropdown navigation">
    <div class="room-title navbar-start navbar-item is-size-4">
      <strong><%= @room.name %></strong>
    </div>
    <div class="navbar-start navbar-item">
      <strong><%= "#{@room.year.name} #{@room.month.name}頃" %></strong>
    </div>
    <div class="navbar-start navbar-item">
      <strong><%= @room.prefecture.name %></strong>
    </div>
    <div class="navbar-start navbar-item">
      <strong><%= "定員#{@room.capacity.name}" %></strong>
    </div>
    
    <div class="navbar-end navbar-item">
      <%= link_to (image_tag "家のアイコン素材.png"), rooms_path(current_user), class: 'button is-success is-light ml-2'%>
      
      <%= link_to (image_tag "バックスペースの削除アイコン.png"), room_path(@room), class:'button is-danger is-light is-focused ml-2', data: { confirm: 'このルームが削除され、閲覧できなくなりますが、よろしいですか?' }, method: :delete %>
      
    </div>
  </nav>

  <div class="messages">
    <%= render partial: 'message', collection: @messages %>
  </div>

  <%= form_with model: [@room, @message], local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="is-flex mt-3">
      <%= f.text_field :content, class: 'input is-medium is-primary is-rounded pr-6', type:"text", placeholder: 'type a message' %>
      <div class="image">
        <label>
          <%= image_tag "枠つきの羽根ペンのアイコン素材.png", class:'button is-success ml-1' %>
          <%= f.submit class:'is-hidden' %>
        </label>
      </div>
      <%= f.file_field :image, class: 'has-text-danger mt-3 ml-2'%>
    </div>
  <% end %>
</div>



