<div class="message columns mt-1">
  <div class="column is-1">
    <% if message.user.image.present? %>
      <figure class="m-1">
        <%= image_tag message.user.image, class: 'messageicon' if message.user.image.attached? %>
      </figure>
    <% else %>
      <figure class="m-1">
        <%= image_tag "k0898_2.jpg", class: 'messageicon'%>
      </figure>
    <% end %>

  </div>
  <div class="column">
    <div class="upper-message">
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= message.content %>
      </div>
      <%= image_tag message.image.variant(resize: '300x300'), class: 'message-image' if message.image.attached? %>
    </div>
  </div>
</div>
