<div class="columns is-mobile p-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="edit">
      <div class="box">
        <p class="title center">
          Edit Account
        </p>
        <p class="subtitle">
          アカウントの編集
        </p>
      </div>
      <div class="box">
        <%= form_with model: @user, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="field">
          <%= f.label :アイコン %>
          <p>
          <%= f.file_field :image, class: 'has-text-danger mt-1 ml-1'%>
          </p>
        </div>
        <%= render partial: 'shared/form', locals: { f: f }%>
        <div class="is-flex is-justify-content-left">
          <div class="field ">
            <%= f.label :イベント参加回数 %>
            <p class="control has-icons-left has-icons-right">
              <%= f.text_field :event_time, autofocus: true, class:"input is-primary", type:"name", placeholder:"半角数字"%>
              <span class="icon is-small is-left">
                <i class="fas fa-check-square"></i>
              </span>
            </p>
          </div>
          <div class="field ml-5">
            <%= f.label :脱出成功回数 %>
            <p class="control has-icons-left has-icons-right">
              <%= f.text_field :clear_time, autofocus: true, class:"input is-primary", type:"name", placeholder:"半角数字"%>
              <span class="icon is-small is-left">
                <i class="fas fa-check-square"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="m-2">
          <label>
            <%= image_tag "万年筆のペン先アイコン.png", class: 'button is-info is-rounded'%>
            <%= f.submit class:'is-hidden' %>
          </label>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
