<div class="columns is-mobile p-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="show">
      <div class="box">
        <p class="title center">
          My Page
        </p>
        <p class="subtitle">
          マイページ
        </p>
        <%= link_to (image_tag "鉛筆を持つ手のアイコン.png"), edit_user_path(@user), class:'button is-link is-focused m-2'%>
        <%= link_to (image_tag "ログアウト・サインアウトのアイコン素材 3.png"), destroy_user_session_path, method: :delete, class: 'button is-success is-focused m-2'%>
        <%= link_to (image_tag "Uターン矢印 2.png"), rooms_path(current_user), class: 'button is-success is-light m-2'%>
      </div>
      <div class="box columns">
        <div class="column is-one-third">
          <% if @user.image.present? %>
            <figure class="">
              <%= image_tag @user.image, class: 'usericon' if @user.image.attached? %>
            </figure>
          <% else %>
           <figure class="">
              <%= image_tag "k0898_2.jpg", class: 'usericon'%>
            </figure>
          <% end %>
        </div>
        <table class="column table ml-6">
          <tbody>
            <tr>
              <th class="detail-item">名前</th>
              <td class="detail-value"><%= @user.name %></td>
            </tr>
            <tr>
              <th class="detail-item">メール</th>
              <td class="detail-value"><%= @user.email %></td>
            </tr>
            <tr>
              <th class="detail-item">イベント参加回数</th>
              <% if @user.event_time.present? %>
                <td class="detail-value"><%= "#{@user.event_time}回" %></td>
              <% else %>
                <td class="detail-value"><%= "入力してね" %></td>
              <% end %>
            </tr>
            <tr>
              <th class="detail-item">脱出成功回数</th>
              <% if @user.clear_time.present? %>
                <td class="detail-value"><%= "#{@user.clear_time}回" %></td>
              <% else %>
                <td class="detail-value"><%= "入力してね" %></td>
              <% end %>
            </tr>
            <tr>
              <th class="detail-item">成功率</th>
              <% if @user.event_time.present? && @user.clear_time.present?%>
                <td class="detail-value"><%= "#{@user.clear_time*100 / @user.event_time}%" %></td>
              <% else %>
                <td class="detail-value"><%= "?%" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>