<div class="columns is-mobile pt-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="signin">
      <div class="box">
        <p class="title center">
          Log in
        </p>
        <p class="subtitle">
          登録しているユーザーでログイン 
        </p>
        <%= link_to (image_tag "登録アイコン.png"), new_user_registration_path, class:'button is-link is-focused ' %>
      </div>
      <div class="fields box">
        <div class='login-flash-message has-text-danger'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="field">
            <%= f.label :email%>
            <p class="control has-icons-left has-icons-right">
              <%= f.email_field :email, autofocus: true, class:"input is-primary", type:"email", placeholder:"Email"%>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
        <div class="field">
          <%= f.label :password %>
          <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "off", class:"input is-primary", type:"password", placeholder:"Password"%>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="m-2">
          <label>
            <%= image_tag "ログイン・サインインのアイコン素材 4.png", class: 'button is-primary is-focused m-2'%>
            <%= f.submit class:'is-hidden' %>
          </label>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

