<div class="columns is-mobile p-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="create-room">
      <div class="box">
        <p class="title center">
          Create Room
        </p>
        <p class="subtitle">
          新規チャットルーム作成
        </p>
        <%= link_to (image_tag "Uターン矢印 2.png"), rooms_path(current_user), class: 'button is-success is-light m-2'%>
      </div>
      <div class='chat-room-form box'>
        <%=form_with model: @room, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'>
              <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
            </div>
            <div class='chat-room-form__field--right mt-2'>
              <%= f.text_field :name, class: 'chat__room_name chat-room-form__input is-focused input is-info is-medium', placeholder: 'チャットルーム名を入力してください'%>
            </div>
          </div>
          <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
          <div class="is-flex is-justify-content-space-between mt-4">
            <div class="weight-bold-text">
              期間(西暦)
              <span class="has-text-danger">必須</span>
              <%= f.collection_select(:year_id, Year.all, :id, :name, {}, {class:"button is-rounded"}) %>
            </div>
            <div class="weight-bold-text">
              期間(月)
              <span class="has-text-danger">必須</span>
              <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"button is-rounded"}) %>
            </div>
            <div class="weight-bold-text">
              都道府県
              <span class="has-text-danger">必須</span>
              <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"button is-rounded"}) %>
            </div>
            <div class="weight-bold-text">
              定員
              <span class="has-text-danger">必須</span>
              <%= f.collection_select(:capacity_id, Capacity.all, :id, :name, {}, {class:"button is-rounded"}) %>
            </div>
          </div>
          <div class="m-4">
          <label>
            <%= image_tag "万年筆のペン先アイコン.png", class: 'button is-info is-rounded'%>
            <%= f.submit class:'is-hidden' %>
          </label>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
