<div class="columns is-mobile pt-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-start navbar-item">
        <%= link_to "Qchat", root_path, class:"button is-primary"%> 
      </div>
    </nav>
    <div class="create-room">
      <div class="box">
        <p class="title center">
          Create Room
        </p>
        <p class="subtitle">
          新規チャットルーム作成
        </p>
        <%= link_to "ルーム一覧に戻る", :back, class: 'button is-success is-light'%>
      </div>
      <div class='chat-room-form box'>
        <%=form_with model: @room, local: true do |f|%>
        <%= render 'shared/error_messages', model: f.object %>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'>
              <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
            </div>
            <div class='chat-room-form__field--right'>
              <%= f.text_field :name, class: 'chat__room_name chat-room-form__input is-focused input is-info is-medium', placeholder: 'チャットルーム名を入力してください'%>
            </div>
          </div>
          <%= f.submit class: 'chat-room-form__action-btn button is-link is-focused mt-3'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
